---
import { socialmedia } from "@/utils/socialmedialinks";
import LinkBtn from "@components/commons/LinkBtn/LinkBtn.astro";
import ListBoxItem from "@components/commons/Listbox/ListBoxItem.astro";
import ListBoxWrapper from "@components/commons/Listbox/ListBoxWrapper.astro";
---

<main class="linktree__main">
  <ListBoxWrapper class="linktree__main__listbox">
    {
      socialmedia.map((data) => (
        <ListBoxItem class="linktree__main__listbox__item" key={data.id}>
          <LinkBtn href={data.href} class="linktree__main__listbox__item__link">
            <p>{data.name}</p>
          </LinkBtn>
        </ListBoxItem>
      ))
    }
  </ListBoxWrapper>
</main>
