---

import Container from "@/components/commons/Container/Container.astro"
import Header from "@/components/header/Header.astro"
import Main from "@/components/main/Main.astro"
import "@/styles/global.scss"
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Linktree Neumorfico</title>
	</head>
	<body>
	    <Container class="linktree">
			<Header/>
			<Main/>
		</Container>
		<footer class="footer">
			Desarrollado por DEVJL Todos los derechos reservados
		</footer>
	</body>
</html>

<style lang="scss">
	.linktree{
		max-width: clamp(25ch,50%,50ch);
		width: 100%;
		display: flex;
		flex-direction: column;
		border: 1px solid;
		padding: 1rem;
	}
	.footer{
		text-align: center;
		
	}

</style>