---

import Container from "@/components/commons/Container/Container.astro"
import Header from "@/components/header/Header.astro"
import Main from "@/components/main/Main.astro"
import "@/styles/global.scss"
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="plantilla de linktree con neumorfismo y css">
		<title>Linktree Neumorfico</title>
	</head>
	<body>
	    <Container class="linktree">
			<Header/>
			<Main/>
		</Container>
		<footer class="footer">
			© 2023 DEV:JL™-Todos los Derechos reservados.
		</footer>
	</body>
</html>

