---
import LinkListItem from "@components/Linktree/LinkList/LinkListItem.astro";
import LinkListWrapper from "@components/Linktree/LinkList/LinkListWrapper.astro";
---

<main>
  <LinkListWrapper>
    <LinkListItem href="#"> Facebook </LinkListItem>
    <LinkListItem href="#"> X </LinkListItem>
    <LinkListItem href="#"> Instagram </LinkListItem>
  </LinkListWrapper>
</main>

<style>
  main {
    border: 1px solid blue;
   }
</style>
