---
import Avatar from "@components/commons/Avatar/Avatar.astro";
import fotoavatar from "@/assets/img/img_avatar.webp";
---

<header class="linktree__header">
  <Avatar class="linktree__header__avatar">
    <img
      class="linktree__header__avatar__img"
      src={fotoavatar.src}
      alt="foto de perfil"
      width={fotoavatar.width}
      height={fotoavatar.height}
      slot="avatar-img"
    />
    <figcaption
      class="linktree__header__avatar__descripcion"
      slot="avatar-descripcion"
    >
      <h1 class="linktree__header__avatar__descripcion__title">John Doe</h1>
      <p class="linktree__header__avatar__descripcion__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam labore
        aut aliquid.
      </p>
    </figcaption>
  </Avatar>
</header>

